.panel
  .panel-body
    h5 {{title}}
    .row
      .col-xs-4
        form(role='form', novalidate, name='zipForm')
          .form-group
            label Zip Code
            input.form-control#zip(ng-pattern='/^[0-9]{5}$/', required, ng-model='zip', type='text', name='zip')
          button.btn.btn-primary(type='submit', ng-show='zipForm.$valid', ng-click='getForecast()') Check Forecast
      .col-xw-8
    .row.spacer
    .row(ng-show='days')
      .col-xs-1
      .col-xs-1(ng-repeat='day in days')
        .icon(style='background-image:url("{{day.icon_url}}")')
        h5 {{day.conditions}}
        h5 {{day.date.weekday}}
      .col-xs-1


