.panel
  .panel-body
    h5 {{title}}
    .row
      .col-xs-4
        form(role='form', novalidate, name='zipForm')
          .form-group
            label Zip Code
            input.form-control#zip(ng-pattern='/^[0-9]{5}$/', required, ng-model='zip', type='text', name='zip')
          button.btn.btn-primary(type='submit', ng-show='zipForm.$valid', ng-click='checkWeather()') Get Current Conditions
      .col-xs-8
    .row
      .col-xs-12
        .cam(ng-repeat='cam in cams', style='background-image:url("{{cam}}")')


